@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
  }
  :root{
    --base-color: #BA68C8;
    --base-color-alpha: #ba68c8b4;
  }